.room-tweet > p {
  background-color: aliceblue;
  border-radius: 30px;
  padding: 3px;
  margin: 3px;
  color: darkslategrey;
  width: fit-content;
  font-weight: bold;
}


.self-tweet > p {
    background-color: greenyellow;
    margin-right: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
}